 #about-section{
    background-color:#ffffff;

    #about-inner{
      margin:100px 0;

      .about-content{
        font-family: 'Quicksand', sans-serif;
        font-size: 2rem;
        line-height: 3.9rem;
        color: #8e8c8c;
      }
    }
  }